extends layout

block content
  h1 community
  p Click on a header to sort. 
  table.table.table-striped.table-hover
    thead
      tr
        th#names Name
        th#description Description
        th Picture
        th Actions
    tbody#market
      tr#templatemarket
        td.name
        td.description
        td.picurl
        td.remove  
  p           
    button.btn.btn-info.filter Filter
    button.btn.btn-default.reset Reset  
  a(href='/dashboard')
    button.btn.btn-info.dashboard Dashboard      
  #filterList.modal.fade(role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          h2.modal-title Filter by name
        .modal-body
          p Enter new information.
          form.input(role='form')
            .form-group
              label(for='m2name') Name:
              input#m2name.form-control(type='text')
            button.btn.btn-success.filterList(type='submit') Filter  
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close        
  script(src='js/community.js')
