extends layout

block content
  .row.row1
    .col-sm-7
      h1 albums
      table.table.table-striped.table-hover
        thead
          tr
            th#names Name
            th#description Description
            th Actions
        tbody#albumstable
          tr#templatealbums
            td.name
            td.description
            td.remove  
        a(href='/albumForm')
          button.btn.btn-info.albumform Add a new album
        a(href='/community')
          button.btn.btn-primary.community community
    .col-sm-4.col-sm-offset-1            
    #updatealbum.modal.fade(role='dialog')
      .modal-dialog
        .modal-content
          .modal-header
            h2.modal-title Update album
          .modal-body
            p Enter new information.
            form.input(role='form')
              .form-group
                label(for='mname') Name:
                input#mname.form-control(type='text')
              .form-group
                label(for='mdescription') Description:
                input#mprice.form-control(type='text')
              button.btn.btn-success.updatealbum(type='submit') Update album  
          .modal-footer
            button.btn.btn-default(type='button', data-dismiss='modal') Close         
block scripts
  script(src="/js/dashboard.js")
