extends layout

block content
  #main  
    h1= title
    a(href='/dashboard')
      button.btn.btn-primary Dashboard
    a(href='/marketplace')
      button.btn.btn-info Marketplace
block scripts
  script(src='/lib/firebase/firebase.js')
  script(src="/js/index.js")

block css
  link(rel='stylesheet', href='/css/index.css')
