extends layout
block content
  .row
    .col-sm-4  
      img.regular(src= '#{picurl}')
      h2.privatelist Item Information
      p #{name}
      p #{description}
    .tradables.col-sm-8
      h1 Available items for trade
      table.table.table-striped.table-hover
        thead
          tr
            th#names Name
            th#description Description
            th Picture
            th Actions
        tbody#privatetradables
          tr#templatetradables
            td.name
            td.description
            td.picurl
            td.remove
block scripts
  script(src="/js/trade.js")  
