extends layout
block content
  .row
    .col-xs-12  
      img.regular(src= '#{picurl}')
  .row  
    .col-xs-8
      h3 Image Name
      p #{name}
    .col-xs-4
      button.btn.btn-danger.remove Remove image  
      a(href='/dashboard')
        button.btn.btn-info.dashboard Dashboard
block scripts
  script(src="/js/image.js")  
