extends layout
block content
  .row
    .col-xs-4  
      ul Item Information
        li Name = #{name}
        li Description = #{description}
        img(src= '#{picurl}')
    .col-xs-8
      img(src='http://0.media.collegehumor.cvcdn.com/29/39/e33256bc6c0aa960ce4759d4a46ceaa1.gif')
