extends layout
block content
  .row
    .col-sm-8  
      img.regular(src= '#{picurl}')
      h3 Image Name
      p #{name}
    .col_sm_4
      button.btn.btn-danger.remove Remove image  
      a(href='/dashboard')
        button.btn.btn-info.dashboard Dashboard
block scripts
  script(src="/js/image.js")  
