extends layout
block content
  .row
    .col-sm-4  
      ul.privatelist Item Information
        li #{name}
        img.regular(src= '#{picurl}')
        li #{description}
    .tradables.col-sm-8
      h1 Available items for trade
      table.table.table-striped.table-hover
        thead
          tr
            th#names Name
            th#description Description
            th Picture
            th Actions
        tbody#privatetradables
          tr#templatetradables
            td.name
            td.description
            td.picurl
            td.remove
block scripts
  script(src="/js/trade.js")  
