extends layout


block content
  .main
    .container.container1
      form.form-inline.input(role='form')
        .form-group
          label(for='input') Search by name or symbol:
          input#input.form-control(type='text')
        button.btn.btn-success.findStock(type='submit') Find
    .container.container2
      a(href='/profile')
        button.btn.btn-info.showPortfolio Show Portfolio
  h1 Results
  p The list of stocks that match your search: 
  table.table.table-striped.table-hover
    thead
      tr
        th#symbols Symbol
        th#names Name
        th#exchange Exchange
        th
    tbody
      tr#template
        td.sym  
        td.name
        td.exchange
        td.add    
  p.notification    
block scripts
  script(src="/js/stocks.js")
