body{
  background: url('http://s3.amazonaws.com/digitaltrends-uploads-prod/2012/05/digital-camera-lens-buying-guide.jpg');
  background-size: 100vw;
  background-repeat: no-repeat;
}

nav{
  color: #00F;
}

h1{
  color: silver;
}
