#templatealbums{
  display: none;
}
#template{
    display: none;
}
#templatemarket{
  display: none;
}
#templatetradables{
  display: none;
}
#templateoffer{
  display: none;
}
body{
  font-size: 17px;
}
table{
  margin-top: 36px;
}
.thumb{
  max-width: 200px;
  margin: 10px;
}
.regular{
  max-width: 80vw;
  margin-top: 20px;
}
.privatelist{
  margin-top: 20px;
}
.minithumb{
  max-width: 30px;
}
.preview{
  max-width: 35vw;
}
