#templateinventory{
  display: none;
}
#template{
    display: none;
}
#templatemarket{
  display: none;
}
#templatetradables{
  display: none;
}
#templateoffer{
  display: none;
}
body{
  font-size: 17px;
}
table{
  margin-top: 36px;
}
.thumb{
  max-width: 72px;
}
.regular{
  max-width: 200px;
}
.privatelist{
  margin-top: 20px;
}
.minithumb{
  max-width: 30px;
}
